.box{
    border:solid black 2px;
    width:200px;
    height:100px;
    padding:20px;
    box-shadow: 8px 8px 11px 2px rgb(212 0 255 / 22%);
    
}

.para{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
    text-shadow: 1px 1px 3px #e546ff;
    outline:solid  black 2px;
    text-align: center;
    outline-offset: 10px;
}